<header class="header">
    <a href="" class="logo"><img src="images/db.png" alt=""></a>
    <input type="checkbox" id="check">
    <label for="check" class="icons">
        <span class="material-symbols-outlined" id="menu-icon" >
            menu
            </span>
            <span class="material-symbols-outlined" id="close-icon">
                close
                </span>
    </label>
    <nav class="navbar" dir="rtl">
        <a href="/Aindex" id="home">الرئيسيه</a>
        <a href="/Aaboutus" id="aboutus">من نحن</a>
        <a href="/Aourservices" id="ourservices"> خدماتنا</a>
        
        <a href="/ourclients">عملائنا</a>
        <a href="/Acontactus" id="contactus">اتصل بنا</a>
        <a href="<%=current %>">English</a>
        <a href=""  id="fb" dir="ltr"> <i class='fa fa-facebook' style="font-size:22px"></i> </a>
        <a href="" id="ig" dir="ltr"><i class='fa fa-instagram' style="font-size:22px" ></i> </a>   
         <a href="" id="tw" dir="ltr"> <i class='fa fa-twitter' style="font-size:22px" i  ></i> </a>
    </nav>
</header>