<footer class="footer">
    <div class="fcontainer">
        <div class="row">

            <div class="f-col">
                <h3>Contact Us</h3>
                <ul>
                    <li>0228452245</li>
                    <li><a href="mailto:info@dperformance.org">info@dperformance.org</a></li>
                    <p>We are open from 10am — 5pm on week days.</p>

                </ul>
            </div>
            <div class="f-col">
                <h3>About Us</h3>
                <p>Established in 2013 By a Group of Challengers from Different Fields (Marcum, Finance,
                    Operation and Technology) To Be a Real Business Partner That Support in Transforming
                    the Business Performance to Adapt with The Global Market Needs/Trends.
                </p>
                <p>3 El-Nafoura SQ. ,Mokattam, Cairo, Egypt </p>

            </div>
            <div class="f-col">
                <h3>Follow us</h3>
                <div class="social-links">

                    <!-- gets the icons mn font awesome online library -->
                    <a href="https://www.facebook.com/dperformanceorg">
                        <i class="fa fa-facebook  " style="font-size:22px" id="footerfb"></i>
                    </a>
                    <a href="/">
                        <i class="fa fa-twitter  " style="font-size:22px" id="footertwitter"></i>
                    </a>
                    <a href="/">
                        <i class="fa fa-instagram  " style="font-size:22px" id="footerig"></i>
                    </a>
                </div>


            </div>

        </div>
    </div>
</footer>