<header class="header">
    <a href="" class="logo"><img src="images/db.png" alt=""></a>
    <input type="checkbox" id="check">
    <label for="check" class="icons">
        <span class="material-symbols-outlined" id="menu-icon" >
            menu
            </span>
            <span class="material-symbols-outlined" id="close-icon">
                close
                </span>
    </label>
    <nav class="navbar">
        <a href="/" id="home">Home</a>
        <a href="/aboutus" id="aboutus">About us</a>
        <a href="/ourservices" id="ourservices"> Our Services</a>
        
        <a href="/ourclients" id="ourclients">Our clients</a>
        <a href="/contactus" id="contactus">Contact Us</a>
        <a href="<%=current %>">العربيه</a>
        <a href=""  id="fb"> <i class='fa fa-facebook' style="font-size:22px"></i> </a>
        <a href="" id="ig"><i class='fa fa-instagram' style="font-size:22px" ></i> </a>   
         <a href="" id="tw"> <i class='fa fa-twitter' style="font-size:22px" i  ></i> </a>
    </nav>
</header>