<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
   
    <link rel="stylesheet" type="text/css" href="../css/contact.css">
    <!-- to access font awesome cdn icons -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
   
  
    <title>Contact Us</title>
</head>

<body>
    <header class="header">
        <img src="../db.png" alt="" class="logo">


        <nav class="navbar">
            <a href="index.html">HOME</a>
            <a href="aboutus.html">ABOUT US</a>
            <a href="ourservices.html">OUR SERVICES</a>
            <a href="#">OUR CLIENTS</a>
            <a href="#">CONTACT US</a>
            <i class='fa fa-facebook' style="font-size:22px" id="fb"></i>
            <i class='fa fa-instagram' style="font-size:22px" id="ig"></i>
            <i class='fa fa-twitter' style="font-size:22px" id="tw"></i>
        </nav>
    </header>
    <section>
        <div class="bodyimage">
            <img src="../ss.jpg" alt="">
        </div>
    </section>
    <section class="contact">
        <div class="content">

            <h2>Contact us</h2>
            <p>If you have a question or require further information,
                then please feel free to contact us using the form below. We would be happy to help.
            </p>
            <div class="containers">
                <div class="contactInfo">
                    <div class="box">
                        <div class="icon"><i class="ri-map-pin-line"></i></div>
                        <div class="text">
                            <h3>Address</h3>
                            <p><b>3 Al Nafoura Sq</b>,
                                <br>3 Al Nafoura Sq., Al Abageyah, El Mokattam, Cairo Governorate <br> 4412023
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon"><i class="ri-mail-open-line"></i></div>
                        <div class="text">
                            <h3>Email</h3>
                            <p>
                                info@dperformance.org
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon"><i class="ri-phone-line"></i></div>
                        <div class="text">
                            <h3>Phone Number</h3>
                            <p>
                                0228452245
                            </p>
                        </div>
                    </div>
                </div>
                <div class="contactForm">
                    <h2>Send us a message</h2>
                    <form id="contactus">

                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Full Name</span>
                        </div>

                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Email</span>
                        </div>

                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Phone</span>
                        </div>

                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Address</span>
                        </div>
                           <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Company</span>
                        </div>
                        <div class="inputBox">
                            <textarea required="required"></textarea>
                            <span>Requirment</span>
                        </div>
                        <div class="inputBox">
                            <input type="submit" name="" value="SEND">
                        </div>
                    </form><script src="js/contactus.js"></script>
                </div>
            </div>
        </div>
    </section>

    
    <!-- footer -->
    <footer class="footer">
        <div class="fcontainer">
            <div class="row">

                <div class="f-col">
                    <h3>Contact Us</h3>
                    <ul>
                        <li><a href="#">0228452245</a></li>
                        <li><a href="#">info@dperformance.org</a></li>
                        <p>We are open from 10am — 5pm on week days.</p>

                    </ul>
                </div>
                <div class="f-col">
                    <h3>About Us</h3>
                    <p>Established in 2013 By a Group of Challengers from Different Fields (Marcum, Finance,
                        Operation and Technology) To Be a Real Business Partner That Support in Transforming
                        the Business Performance to Adapt with The Global Market Needs/Trends.
                    </p>
                    <p>3 El-Nafoura SQ. ,Mokattam, Cairo, Egypt </p>

                </div>
                <div class="f-col">
                    <h3>Follow us</h3>
                    <div class="social-links">

                        <!-- gets the icons mn font awesome online library -->
                        <a href="#">
                            <i class="fa fa-facebook  " style="font-size:22px" id="footerfb"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-twitter  " style="font-size:22px" id="footertwitter"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-instagram  " style="font-size:22px" id="footerig"></i>
                        </a>
                    </div>


                </div>

            </div>
        </div>
    </footer>
</body>

</html>
