<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>                      
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />       
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

  <title>Data Performance</title>
</head>>

<body>
  <%- include('../partials/navbar') %>
  <script>
  
    jQuery(function($){

        var $navbar=$('.header');
        $(window).scroll(function(event){
            var $current=$(this).scrollTop();

            if($current >190){
                $navbar.addClass('navbar-color');
            }else{
                $navbar.removeClass('navbar-color');
            }

        });
    });

</script>

<div class="bodyimage">
  <img src="images/index.jpg "alt="">
 </div>
  <section id="introo">
    <div class="intro ">
      <p class="p1">Data Performance for Business Transformation</p>
      <p class="p2"> Established in 2013 By a Group of <br> Challengers from Different Fields</p>
    </div>

  </section>


  <div class="ad1-container reveal">
    <div class="ad1-img">
      <img src="images/data.jpg">
    </div>
    <div class="ad1-text">
      <h1>Pieces of Pure Wonder </h1>
      <p>Our Millenia family is a contemporary interpretation of our heritage and expertise. The science of
        crystal cutting meets the magic of light refraction in bold designs that go right to the heart of who we
        are.
      </p>
      <button class="ad1-btn">
        Our Services
      </button>
    </div>
  </div>
  <div class="ad2-container reveal">
    <div class="ad2-text">
      <h1>Kaleidoscopic Hues</h1>
      <p>Step inside a vibrant wonderland, where confidence is colorful and coordinating crystals make
        <br> every look pop. Push the boundaries in party pink, shine bright in bold metallics, bring positive
        vibes in sunshine yellow, deep dive into a spectrum of blues, or channel your inner goddess in emerald
        green.
      </p>
      <button class="ad2-btn">
        Discover More
      </button>
    </div>
    <div class="ad2-img">
      <img src="images/data2.jpg">
    </div>

  </div>


  <div class="slide-text reveal">
    <p class="slidetext">Solutions We Provide</p>

  <div class="slideshow-container reveal">

    <div class="mySlides fade">
      <div class="numbertext">1 / 8</div>
      <img src="images/business.jpg" style="width:100%">
      <div class="text">Financial & Operational Consultations</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">2 / 8</div>
      <img src="../img3.jpg" style="width:100%">
      <div class="text">Provide Business Process & Workflow</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">3 / 8</div>
      <img src="images/mc.jpg" style="width:100%">
      <div class="text">Marketing Planning Consultations</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">4 / 8</div>
      <img src="images/data.jpg" style="width:100%">
      <div class="text">Data Consolidation For Group Of Companies</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext"> 5/ 8</div>
      <img src="../erp.jpg" style="width:100%">
      <div class="text">Provide Automated ERP</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext"> 6/ 8</div>
      <img src="images/businessplann.jpg" style="width:100%">
      <div class="text" id="businessplan">Provide Business Plan</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext"> 7/ 8</div>
      <img src="images/mcc.jpg" style="width:100%">
      <div class="text">Marketing Activates</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext"> 8/ 8</div>
      <img src="images/financialanalysis.jpeg" style="width:100%">
      <div class="text">Generate Financial Analysis</div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>

</div>

  <br>

  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
    <span class="dot" onclick="currentSlide(6)"></span>
    <span class="dot" onclick="currentSlide(7)"></span>
    <span class="dot" onclick="currentSlide(8)"></span>
  </div>


  </div>



  <script>
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      if (n > slides.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = slides.length }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
    }



    window.addEventListener('scroll', reveal);

    function reveal() {
      var reveals = document.querySelectorAll('.reveal');
      for (var i = 0; i < reveals.length; i++) {
        var windowheight = window.innerHeight;
        var revealtop = reveals[i].getBoundingClientRect().top;
        var revealpoint = 150;

        if (revealtop < windowheight - revealpoint) {
          reveals[i].classList.add('active');
        }

      }
    }
  </script>







<div class="contacting">

  <p class="p3"> Let's Get in Touch <br> <button class="contactbtn" href="/contactus">Contact Us Now!</button> </p>
</div>
  <!-- footer -->
  <%- include('../partials/footer') %>

</body>

</html>